html,body{
     margin:0; padding:0; width:100%; height:100%;
     background-color: #2AC1BC;
    
    }

.box{
    width:100%; 
    height:100%; 
    position:relative; 
    color:#ffffff; 
    font-size:24pt;
}

ul li{
    list-style: none;
    
}
 a {
    text-decoration: none;
}

nav{
    position: relative;
    width:80%;
    height: 108px;
    margin:0 auto;
}
nav #navbar_logo{
    width:300px;
    line-height: 108px;
    padding-left:50px;
}

nav #navbar_list{
    width:100px;
    position: absolute;
    right:30px;
    top:30px;
}

#navbar_list button{
     
        position: absolute;
        top:50%;
        background-color:#f1f1fa;
        color: #2AC1BC;
        border:none; 
        border-radius:10px; 
        padding:15px;
        min-height:30px; 
        min-width: 120px;
      }
  


#navbar_list li{
    display:inline;
    padding-left:10px;
 }

.btns{
    position:absolute;
    top:390px;
    right: 90px;
    position: fixed;
    
}
.btns li{
    padding-bottom: 12px;
}
.btns ul {
    list-style: none;
}
li{
    display:list-item;

}
 .circle{
    display:block;
    width:16px;
    height:16px;
   border-radius: 50%;
   border:none;
   cursor:pointer;
 } 
 #footer{
    background-color: #f1f1fa;
    display:flex;
  flex-direction:row;
  border: 2px solid black;
}
#footer a{
    color:black;
}
#footerBox_wrap{
   margin:0 auto;
   
}
.textBox_left{
    margin-right:200px;
    margin-top:50px;
    width:300px;
    height:300px;
    border: 1px solid black;
}
.textBox_right{
    
    color:black;
}
.textBox_bot{
    width:100%;
    border:2px solid black;
    color:black;
    margin-top:100px;
    font-size: 12px;
}